<header id="header" class="alt" th:fragment="header">
    <h1 id="logo"><a th:href="@{/}">MyApp</a></h1>
    <nav id="nav">
        <ul>
            <li><a th:href="@{/}">Főoldal</a></li>
            <li><a th:href="@{/adatbazis}">Adatbázis</a></li>
            <li><a th:href="@{/contact}">Kapcsolat</a></li>
            <li><a th:href="@{/contact/all}">Üzenetek</a></li>
            <li><a th:href="@{/chart}">Diagram</a></li>
            <li><a th:href="@{/crud}">CRUD</a></li>
        </ul>
    </nav>
</header>